{% extends 'index.html' %}
{% block title %}Sign In{% endblock title %}

{% block body %}
<div class="row">
    <div class="row cards" style="width: auto; margin: auto auto;">
        <div class="card border-primary mb-3 text-center" style="max-width: 30rem;">
            <div class="card-header">
                <h2 class="text-center">Sign In</h2>
                <img src="https://www.roiback.com/sites/all/themes/roiback/logo.png" alt="">
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock body %}